doctype html
html
  head
    title= title
    link(href="https://cdn.auth0.com/styleguide/4.8.13/index.min.css", rel="stylesheet")
  body
   div.logo-branding
    img(src="https://styleguide.auth0.com/lib/logos/img/logo-blue.png" width="100px")
   block content
